.head{
    background-color:#41444B;
    border-radius: 5px;
}
.foot{
    background-color:#41444B;
    border-radius: 5px;
}
.custom-toggler {
    border: 1px solid white; /* Optional: Add border to make it more visible */
    background-color: white; /* Light background */
    padding: 5px;
    border-radius: 4px;
  }
  .custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='black' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }